
version: '2'

services:
  db:
    image: mariadb:10.5
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - ./db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_PASSWORD=123456
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud

  app:
    image: nextcloud
    restart: always
    ports:
      - 172.17.0.1:21000:80
    links:
      - db
    volumes:
      - ./nextcloud:/var/www/html
      - ./apps:/var/www/html/custom_apps
      - ./config:/var/www/html/config
      - ./data:/var/www/html/data
    environment:
      - MYSQL_PASSWORD=123456
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
      - NEXTCLOUD_TRUSTED_DOMAINS=${NEXTCLOUD_TRUSTED_DOMAINS}
      - OVERWRITEPROTOCOL=https

  collabora:
    image: collabora/code:latest
    cap_add: 
        - MKNOD
    environment: 
        - domain=${DOMAIN}
        - username=root
        - password=${ADMIN_PASSWORD}
        - 'extra_params=--o:ssl.enable=false --o:ssl.termination=true--restart'
        - DONT_GEN_SSL_CERT=1
    ports:
        - 172.17.0.1:21002:9980
    restart: always
    volumes:
        - "/etc/localtime:/etc/localtime:ro"

  cron:
    image: nextcloud:apache
    user: 0:0
    restart: always
    volumes:
      - ./nextcloud:/var/www/html
    entrypoint: /cron.sh